<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MALIMO - My Little Mock Interviewer</title>
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <div class="img_box">
      <img src="images/title.png">

      <div>
        <a href="settings">모의면접 시작하기</a>
      </div>
    </div>
  </body>
</html>
