<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MALIMO - interview</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class = "settings">
      <div class = "think_time"> 
        <span>생각시간: </span> 
        <span id="think_time"><%= think_time %></span> 
        <span>초</span>
      </div>
      <div class="answer_time"> 
        <span>답변시간: </span>
        <span id="answer_time"><%= answer_time %></span> 
        <span>초</span>
      </div>
      <div class="questions"> 
        <span>질문: </span> 
        <span id="expected_questions"><%= expected_questions %></span>
      </div>
    </div>

    <button id="pass_btn">PASS</button>

    <video autoplay style="max-height: 968px;"></video>

    <script src="https://www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <script src="js/interview.js"></script>
  </body>
</html>
