<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MALIMO - My Little Mock Interviewer</title>
    <link href="css/styles.css" rel="stylesheet" />
   
  </head>
  <body>
    <h1>면접결과</h1>
    <br>
    <HR SIZE="5" WIDTH="50%" ALIGN="center" COLOR="#00B4DB">
    <h2>표정</h2>
    <p>angry 0%, disgust 0%, scared 0%, happy 0%, sad 0%, surprised 0%, neutral 0%<br>미소가 적네요. 다음번에는 미소를 지으며 답변해보세요.</p>
    <HR SIZE="5" WIDTH="50%" ALIGN="center" COLOR="#00B4DB">
    <h2>말 속도</h2>
    <p>7sps (보통 사람은 4sps 입니다.)</p>
    <HR SIZE="5" WIDTH="50%" ALIGN="center" COLOR="#00B4DB">
    <h2>습관적인 추임새</h2>
    <p>에 - 2번, 그러니까 - 5번</p>
    <HR SIZE="5" WIDTH="50%" ALIGN="center" COLOR="#00B4DB">
    <h2>막연한 표현</h2>
    <p>같습니다 - 2번, 열심히 - 1번, 아마도 - 2번</p>
    <HR SIZE="5" WIDTH="50%" ALIGN="center" COLOR="#00B4DB">

    <button class="buttons"> 전체 스크립트 보기 </button>
    <button class="buttons"> 모의면접 영상 다운로드 </button>

    
  </body>
</html>
