<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MALIMO - My Little Mock Interviewer</title>
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body>
    면접결과

    표정 : angry 0%, disgust 0%, scared 0%, happy 0%, sad 0%, surprised 0%, neutral 0%
        미소가 적네요. 다음번에는 미소를 지으며 답변해보세요.

    말 속도 : 7sps (보통 사람은 4sps 입니다.)

    습관적인 추임새 : 에 : 2번, 그러니까 : 5번

    막연한 표현 : 같습니다 : 2번, 열심히 : 1번, 아마도 : 2번

    전체 스크립트 보기(버튼)

    모의면접 영상 다운로드(버튼)
  </body>
</html>
