<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MALIMO - settings</title>
    <link href="../css/styles.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class = "settings">
      <form class="settings_form" action="/interview" method="post">
        <div class = setting_title">생각시간</div>
        <input type="number" value="0" name="think_time" min="0" max="59"> <span>초</span>

        <div class = setting_title">답변시간</div>
        <input type="number" value="0" name="answer_time" min="0" max="90"> <span>초</span>

        <div class = setting_title">예상질문</div>
        <ul class="settings_questions"></ul>
        <input class="questions_input" type="text" name="expected_questions" />
        <div>
          <input class="settings_submit" type="submit" value="모의면접 시작하기">
        </div>
      </form>
    </div>
    
    <script src="js/settings.js"></script>
  </body>
</html>
