<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MALIMO - My Little Mock Interviewer</title>
    <link href="css/styles.css" rel="stylesheet" />
   
  </head>
  <body>
    <h1>면접결과</h1>
    <br>
    <HR SIZE="5" WIDTH="50%" ALIGN="center" COLOR="#00B4DB">
    <h2>표정</h2>
    <p>'angry', 22%, 'scared', 22%, 'happy', 30%, 'sad', 58%, 'surprised', 6%, 'neutral', 37%<br>조금 울상이시네요. 환하게 웃으며 대답해보는 건 어떨까요?</p>
    <HR SIZE="5" WIDTH="50%" ALIGN="center" COLOR="#00B4DB">
    <h2>말 속도</h2>
    <p>8sps (보통 사람은 4sps 입니다.)</p>
    <HR SIZE="5" WIDTH="50%" ALIGN="center" COLOR="#00B4DB">
    <h2>습관적인 추임새</h2>
    <p>검출된 추임새가 없습니다.</p>
    <HR SIZE="5" WIDTH="50%" ALIGN="center" COLOR="#00B4DB">
    <h2>막연한 표현</h2>
    <p>같습니다, 열심히 같은 표현은 지양하는 것이 좋습니다.</p>
    <HR SIZE="5" WIDTH="50%" ALIGN="center" COLOR="#00B4DB">
    <h2>전체 스크립트</h2>
    <h3>Q. 지원동기가 무엇인가요?</h3>
    <p>
      어제까지 원하게 된 동기는 국제 시장을 그대로 비즈니스를 한다는 것은 어르신 적도 제 꿈이었습니다<br> 특히 부존 자원 하나 없는 우리나라에서 국제 경쟁력을 가지기 위해서는 뿌릴 꺼라고 생각합니다<br> 회사에 역 사 전략적 해외 진출 역량은 바꿔 학부생 시절부터 지켜봤고 동경의 대상이었습니다 
    </p>
    <h3>Q. 입사후 희망직종에 가지 못하는 경우 어떻게 하시겠습니까?</h3>
    <p>
      음 그러니까 제가 희망하는 직무에 107에 영향을 익힐 때까지 잠시 공부한다고 생 각할 것 같습니다 <br>어 처음 신입 때는 여러가지로 많은 경험을 쌓는 것도 중요 하다고 생각합니다 <br>이만 한 직무가 아니어도 열심 히 최선을 다 해서 공부하고 경험을 쌓으면서 긍정적으로 생각할 것입니다
    </p>
    
  </body>
</html>
